@model La_Ñata.Models.Order

@{
    ViewBag.Title = "Pedido";
}

<link href="~/Content/notification.css" rel="stylesheet" />
<link href="~/Content/table.css" rel="stylesheet" />

<div class="d-flex align-items-end">
    <a class="btn btn-dark" href="../../Orders"><i class="bi bi-arrow-left"></i></a>
    <div class="d-flex flex-grow-1 justify-content-center" style="margin-right: 70px">
        <h1 class="text-center">Detalles del pedido</h1>
    </div>
</div>
<hr class="pb-3" />

<div class="mb-5 d-flex flex-row">
    <div class="col-12 mx-auto">
        <div class="sombra p-4 mb-5" style="border-radius: 20px">
            <div id="searchContainer" class="d-flex flex-lg-column flex-row justify-content-between">
                <div class="d-flex flex-lg-row flex-column me-2 me-md-0">
                    <div class="col-xl-3 pe-lg-3">
                        <label class="form-label">Cliente</label>
                        @Html.TextBox("client_name", Model.client_name, new { @class = "form-control py-2", @readonly = "readonly" })
                    </div>

                    <div class="col-xl-3 pe-lg-3">
                        <label class="form-label">Teléfono</label>
                        @if (Model.phone == null || Model.phone == string.Empty)
                        {
                            @Html.TextBox("phone", "-", new { @class = "form-control py-2 text-center", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBox("phone", Model.phone, new { @class = "form-control py-2", @readonly = "readonly" })
                        }
                    </div>

                    <div class="col-xl-3 pe-lg-3">
                        <label class="form-label">Dirección</label>
                        @Html.TextBox("event_adress", Model.event_adress, new { @class = "form-control py-2", @readonly = "readonly" })
                    </div>

                    <div class="col-xl-3">
                        <label class="form-label">Fecha</label>
                        @Html.TextBox("date", Model.date.ToString("dd/MM/yyyy"), new { @class = "form-control py-2", @readonly = "readonly" })
                    </div>
                </div>
                <div class="d-flex flex-lg-row mt-lg-3 flex-column justify-content-lg-between">

                    <div class="col-xl-3">
                        <label class="form-label">Flete</label>
                        @if (Model.shipment_price == null)
                        {
                            @Html.TextBox("shipment_price", "-", new { @class = "form-control py-2 text-center", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBox("shipment_price", Model.shipment_price, new { @class = "form-control py-2", @readonly = "readonly" })
                        }
                    </div>

                    <div class="col-xl-3">
                        <label class="form-label">Observaciones</label>
                        @if (Model.observation == null || Model.observation == string.Empty)
                        {
                            @Html.TextBox("observation", "-", new { @class = "form-control py-2 text-center", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextArea("observation", Model.observation, new { @class = "form-control py-2", @readonly = "readonly", @rows = "4", @cols = "40" })
                        }
                    </div>
                </div>
            </div>
        </div>

        @* Botones *@
        <div class="d-flex flex-lg-row flex-column justify-content-lg-between">
            <div class="sombra p-4 mb-lg-5 mb-2" style="border-radius: 20px; max-width: fit-content">
                <div class="d-flex flex-row" style="max-width: fit-content">
                    <div class="sombra d-flex flex-row me-2 me-sm-5">
                        <a id="btnSearch" href="#" class="btn" style="background-color: #e06c6c; color: white">
                            Detalle sin precio
                            <i class="bi bi-printer" style="color: white"></i>
                        </a>
                    </div>
                    <div class="sombra d-flex flex-row me-2 me-sm-5">
                        <a id="btnSearch" href="#" class="btn" style="background-color: #e06c6c; color: white">
                            Detalle con precio
                            <i class="bi bi-printer" style="color: white"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="sombra p-4 mb-5" style="border-radius: 20px; max-width: fit-content">
                <div class="d-flex flex-row" style="max-width: fit-content">
                    <div class="sombra d-flex flex-row me-2 me-sm-5">
                        <a id="btnSearch" href="../../Orders/Edit/@Model.id" class="btn" style="background-color: #e06c6c; color: white">
                            Editar
                            <i class="bi bi-pencil" style="color: white"></i>
                        </a>
                    </div>
                    <div class="sombra d-flex flex-row ms-2 ms-sm-5">
                        <a id="btnSearch" href="#" class="btn" style="background-color: crimson; color: white">
                            Eliminar
                            <i class="bi bi-x-lg" style="color: white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        @* Tabla *@
        <div class="table100 ver1 m-b-110">
            <div class="table100-head">
                <table>
                    <thead>
                        <tr class="row100 head">
                            <th class="text-center py-1 py-lg-3 column20">Producto</th>
                            <th class="text-center py-1 py-lg-3 column10">Cantidad</th>
                            <th class="text-center py-1 py-lg-3 column10">Precio</th>
                            <th class="text-center py-1 py-lg-3 column10">Precio por rotura</th>
                            <th class="text-center py-1 py-lg-3 column10">Precio actual</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table100-body js-pscroll ps ps--active-y">
                <table>
                    <tbody id="contentTable">
                        @foreach (La_Ñata.Models.ProductOrder item in Model.ProductOrder)
                        {
                            <tr class='row100 body'>
                                <td class='column20 ps-3'>@item.Product.description</td>
                                <td class='column10 text-center'>@item.quantity</td>
                                <td class='column10 text-center'>$@item.unit_price</td>
                                <td class='column10 text-center'>$@item.Product.break_price</td>
                                <td class='column10 text-center'>$@item.Product.price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/notification.js"></script>